<div class="container py-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="mb-1">Users</h2>
      <p class="text-muted mb-0">View the list of users and manage them from here.</p>
    </div>
    
    @if(canManageUsers()) {
      <button 
        class="btn btn-primary"
        (click)="openUserModal()"
      >
        Create User
      </button>
    }
  </div>

  <!-- Users List Table -->
  <div class="card shadow-sm">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead class="table-light">
            <tr>
              <th class="ps-4">Name</th>
              <th>Role</th>
              <th>Email</th>
              @if(canManageUsers()) {
                <th class="text-end pe-4">Actions</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (user of users(); track user.id) {
              <tr>
                <td class="ps-4">
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="mb-0">{{ user.fullname }}</h6>
                      <small class="text-muted">username: {{ user.username }}</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <h6 class="mb-0">{{ user.roleName }}</h6>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <h6 class="mb-0">{{ user.email }}</h6>
                  </div>
                </td>
                @if(canManageUsers()){
                  <td class="text-end pe-4">
                    <div class="btn-group" role="group">
                      <button 
                        class="btn btn-sm btn-outline-primary mx-1"
                        (click)="openUserModal(user)"
                      >
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteUser(user.id)"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Create/Edit User Modal -->
  <div 
    class="modal fade" 
    [class.show]="showUserModal()" 
    [style.display]="showUserModal() ? 'block' : 'none'"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ editingUser() ? 'Edit User' : 'Create User' }}
          </h5>
          <button 
            type="button" 
            class="btn-close" 
            (click)="closeUserModal()"
          ></button>
        </div>

        <form (submit)="saveUser($event)">
          <div class="modal-body">
            <!-- User Name -->
            <div class="mb-3">
              <label for="fullname" class="form-label">Name *</label>
              <input 
                type="text" 
                class="form-control"
                id="fullname"
                [field]="userForm.fullname"
                [class.is-invalid]="fullnameError()"
                placeholder="John doe"
              />

              @if(fullnameError()) {
                <small class="d-inline-block mt-1 text-danger"> {{ fullnameError() }} </small>
              }
            </div>
            <!-- Username -->
            <div class="mb-3">
              <label for="username" class="form-label">Username *</label>
              <input 
                type="text" 
                class="form-control"
                id="username"
                [field]="userForm.username"
                [class.is-invalid]="usernameError()"
                placeholder="john_doe123"
              />

              @if(usernameError()) {
                <small class="d-inline-block mt-1 text-danger"> {{ usernameError() }} </small>
              }
            </div>
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email *</label>
              <input 
                type="text" 
                class="form-control"
                id="email"
                [field]="userForm.email"
                [class.is-invalid]="emailError()"
                placeholder="john.doe@email.com"
              />

              @if(emailError()) {
                <small class="d-inline-block mt-1 text-danger"> {{ emailError() }} </small>
              }
            </div>

            <!-- Role -->
            <div class="mb-3">
              <label for="role-id" class="form-label mb-3">Role*</label>
              <select class="form-select" [field]="userForm.roleId" id="role-id">
                <option value="">Select a role</option>
                @for (role of roles(); track role.id) {
                  <option [value]="role.id">{{role.name}}</option>
                }
              </select>

              @if(roleIdError()) {
                <small class="d-inline-block mt-2 text-danger"> {{ roleIdError() }} </small>
              }
            </div>
          </div>
          
          <div class="modal-footer">
            <button 
              type="button" 
              class="btn btn-secondary" 
              (click)="closeUserModal()"
            >
              Cancel
            </button>
            <button 
              type="submit" 
              class="btn btn-primary"
              [disabled]="userForm().invalid() || userForm().submitting()"
            >
              {{ editingUser() ? 'Update User' : 'Create User' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Backdrop -->
@if (showUserModal()) {
  <div 
    class="modal-backdrop fade show"
  ></div>
}
